@media only screen and (min-width: 600px) {

.col {
	float: left;
	width: 30%;
	margin: 0 1.5%;
}

h4{
	margin-top: 15px;
	margin-bottom: 0;
}


.bx-wrapper {
	width: 40%;
	float: left;
}

#contact ul {
	width: 55%;
	float: left;
	padding-left: 40px;
}

#contact ul.content {
	padding-top: 0px;
	font-size: 1.5em;
}


}